Package: wiki.qaq.trollfools
Name: TrollFools
Version: 4.2-227
Section: Applications
Depends: firmware (>= 14.0)
Architecture: iphoneos-arm
Author: Lessica <82flex@gmail.com>
Maintainer: Lessica <82flex@gmail.com>
Description: Give me 108 yuan.
