<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>GXZ23M5TP2.wiki.qaq.TrollFools</string>
	<key>checklessPersistentURLTranslation</key>
	<true/>
	<key>com.apple.AutoWake-write-access</key>
	<true/>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
		<string>identity</string>
	</array>
	<key>com.apple.QuartzCore.displayable-context</key>
	<true/>
	<key>com.apple.QuartzCore.secure-mode</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCDynamicStore-write-access</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCPreferences-write-access</key>
	<true/>
	<key>com.apple.assertiond.app-state-monitor</key>
	<true/>
	<key>com.apple.backboard.client</key>
	<true/>
	<key>com.apple.backboardd.launchapplications</key>
	<true/>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>GXZ23M5TP2.iCloud.wiki.qaq.TrollFools.icloud-container</string>
	</array>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudDocuments</string>
	</array>
	<key>com.apple.developer.notificationcenter-identifiers</key>
	<true/>
	<key>com.apple.developer.team-identifier</key>
	<string>GXZ23M5TP2</string>
	<key>com.apple.developer.ubiquity-container-identifiers</key>
	<array>
		<string>GXZ23M5TP2.iCloud.wiki.qaq.TrollFools.icloud-container</string>
	</array>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.frontboard.shutdown</key>
	<true/>
	<key>com.apple.mobile.deleted.AllowFreeSpace</key>
	<true/>
	<key>com.apple.multitasking.systemappassertions</key>
	<true/>
	<key>com.apple.multitasking.termination</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.allowed</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.lookup</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.otherIdLookup</key>
	<true/>
	<key>com.apple.private.attribution.usage-reporting-only.implicitly-assumed-identity</key>
	<dict>
		<key>type</key>
		<string>bundleID</string>
		<key>value</key>
		<string>wiki.qaq.TrollFools</string>
	</dict>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.kernel.jetsam</key>
	<true/>
	<key>com.apple.private.memorystatus</key>
	<true/>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>com.apple.private.persona-mgmt</key>
	<true/>
	<key>com.apple.private.security.container-manager</key>
	<true/>
	<key>com.apple.private.security.container-required</key>
	<false/>
	<key>com.apple.private.security.disk-device-access</key>
	<true/>
	<key>com.apple.private.security.no-container</key>
	<true/>
	<key>com.apple.private.security.no-sandbox</key>
	<true/>
	<key>com.apple.private.security.storage.AppBundles</key>
	<true/>
	<key>com.apple.private.security.storage.AppDataContainers</key>
	<true/>
	<key>com.apple.private.security.storage.CloudDocsDB</key>
	<true/>
	<key>com.apple.private.security.storage.CloudKit</key>
	<true/>
	<key>com.apple.private.security.storage.DocumentRevisions</key>
	<true/>
	<key>com.apple.private.security.storage.Mail</key>
	<true/>
	<key>com.apple.private.security.storage.MobileDocuments</key>
	<true/>
	<key>com.apple.private.security.storage.Photos</key>
	<true/>
	<key>com.apple.private.security.storage.ciconia</key>
	<true/>
	<key>com.apple.private.security.storage.iCloudDrive</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceUbiquity</string>
		<string>kTCCServiceSystemPolicyDesktopFolder</string>
		<string>kTCCServiceSystemPolicyDocumentsFolder</string>
		<string>kTCCServiceSystemPolicyDownloadsFolder</string>
	</array>
	<key>com.apple.private.tcc.manager</key>
	<true/>
	<key>com.apple.private.tcc.manager.check-by-audit-token</key>
	<array>
		<string>kTCCServiceUbiquity</string>
		<string>kTCCServiceSystemPolicyDesktopFolder</string>
		<string>kTCCServiceSystemPolicyDocumentsFolder</string>
		<string>kTCCServiceSystemPolicyDownloadsFolder</string>
	</array>
	<key>com.apple.private.vfs.allow-low-space-writes</key>
	<true/>
	<key>com.apple.private.vfs.open-by-id</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-write</key>
	<array>
		<string>/</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/CloudStorage/</string>
		<string>/Library/Mobile Documents/</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.lsd.modifydb</string>
	</array>
	<key>com.apple.security.iokit-user-client-class</key>
	<array>
		<string>IOUserClient</string>
		<string>AGXDeviceUserClient</string>
		<string>IOHDIXControllerUserClient</string>
		<string>IOMobileFramebufferUserClient</string>
		<string>IOSurfaceRootUserClient</string>
	</array>
	<key>com.apple.springboard.CFUserNotification</key>
	<true/>
	<key>com.apple.springboard.appbackgroundstyle</key>
	<true/>
	<key>com.apple.springboard.iconState</key>
	<true/>
	<key>com.apple.springboard.iconState.mutate</key>
	<true/>
	<key>com.apple.springboard.launchapplications</key>
	<true/>
	<key>com.apple.springboard.launchapplicationswithoptions</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.springboard.openurlswhenlocked</key>
	<true/>
	<key>com.apple.usernotification.notificationregistrarproxy</key>
	<true/>
	<key>com.apple.usernotification.notificationschedulerproxy</key>
	<true/>
	<key>com.apple.usernotification.proxy</key>
	<true/>
	<key>com.apple.usernotifications.legacy-extension</key>
	<true/>
	<key>file-read-data</key>
	<true/>
	<key>inter-app-audio</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>wiki.qaq.TrollFools</string>
		<string>GXZ23M5TP2.wiki.qaq.TrollFools</string>
	</array>
	<key>platform-application</key>
	<true/>
	<key>uicache.app-data-container-required</key>
	<true/>
	<key>user-preference-read</key>
	<true/>
	<key>user-preference-write</key>
	<true/>
</dict>
</plist>
